.iconButton {
  display: grid;
  place-items: center;
  border-radius: 999px;
  background-color: var(--icon-bg, transparent);
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.42s cubic-bezier(0.22, 1, 0.36, 1);
}

.iconButton:hover {
  --icon-bg: #000000;
  --icon-ring: transparent;
  --icon-glyph: #ffffff;
}
